name: Printing "Hello, World!" on CI

on: push

jobs:
    hello-world:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Printing hello, world on CI
              run: echo "Hello, World!"